.container {
    margin: auto;
}

.main img {
    animation: slide-in 2000ms;
    width: 800px;
    height: 400px;
    margin: auto;
    display: block;
}

.explore {
    display: flex;
    /* border: 1px solid; */
    margin: 10px 20px 0 20px;
    padding: 10px;
    justify-content: space-between;
    animation: slide-up 2000ms;
}

/* animation */
@keyframes slide-in {
    from {
        transform: translatey(-100%);
    }
    to {
        transform: translateX(0%);
    }
}

@keyframes slide-up {
    from {
        transform: translatey(100%);
    }
    to {
        transform: translatey(0%);
    }
}

/* responsivity */
@media (max-width: 480px) {
    .main img {
        width: 350px;
        height: 200px;
        border-radius: 10px;
        margin-top: 5px;
    }
    .explore {
        display: block;
        padding: 0;
    }
    .cards {
        overflow: scroll;
    }
}