.row {
    margin: 40px auto !important;
    padding: 50px;
    /* border: 1px solid; */
}

.rowText {
    animation: slide-left 2000ms;
}

.rowImg {
    /* border: 1px solid red; */
    text-align: end;
    margin: auto;
    animation: slide-right 2000ms;
}

.rowImg img {
    width: 400px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.row button {
    padding: 10px 60px;
}

.details {
    /* border: 1px solid blue; */
    color: black;
}

.highlight {
    margin-top: 10vh;
}

.highLeft img {
    width: 300px;
    height: 250px;
    animation: slide-left 2000ms;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.highRight {
    /* border: 1px solid; */
    width: 400px;
    animation: slide-left 2000ms;
}

.mainHighlight {
    /* border: 1px solid; */
    display: flex;
    justify-content: space-around;
    margin: 0 0 50px 0;
    padding: 0 60px;
}

.super {
    /* border: 1px solid; */
    background-color: #f3f3f3cc;
    border-radius: 5px;
    padding: 20px;
}

.super p {
    width: 400px;
    text-align: center;
    margin: 20px auto;
    /* border: 1px solid red; */
}

.iframe {
    text-align: center;
}

.iframe iframe {
    width: 100%;
    height: 400px;
}

.descLeft {
    margin-right: 50px;
}

.desc {
    margin-top: 5vh;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.desc p {
    text-align: justify;
    /* border: 1px solid red; */
}


/* animation */
@keyframes slide-left {
    from {
        transform: translatex(-100%);
    }
    to {
        transform: translateX(0%);
    }
}


@keyframes slide-right {
    from {
        transform: translatex(+100%);
    }
    to {
        transform: translateX(0%);
    }
}

/* responsivity */

@media (max-width: 480px) {
    .row {
        padding: 0;
    }
    .rowImg img,.highLeft img {
        width: 350px;
        margin: 10px auto;
        display: block;
    }
    .mainHighlight, .highRight, .highLeft {
        display: block;
        padding: 0;
    }
    .highLeft p, .highRight p {
        width: 360px;
        text-align: center;
        padding: 0;
    }
    .super p {
        width: 360px;
    }
    .super {
        padding: 0;
    }
    .desc {
        display: block;
        padding: 0;
    }
    .descLeft p, .descRight p {
        width: 350px;
    }
    .highLeft h4, .highRight h4 {
        text-align: center;
        width: 350px;
    }
}