.row {
    margin: 10vh auto !important;
    /* border: 1px solid; */
    padding: 50px;
}

.rowImg {
    /* border: 1px solid red; */
    text-align: end;
    margin: auto;
}

.rowImg img {
    width: 400px;
    border-radius: 5px;
}

.row button {
    padding: 10px 60px;
}

.details {
    /* border: 1px solid; */
    color: aliceblue;
}